# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

topo.topo
TP1-2/Generator/.idea
TP1-2/Generator/cmake-build-debug
*.dvi
*.ps
TP1-2/Rapport/.texpadtmp
TP1-2/Rapport/build
TP3-4-5/Rapport/.texpadtmp


ibsim

TP1-2/Generator/generator

TP3-4-5/Outils/main

osm\.log

sys-4157/sys/class/infiniband/ibsim0/

sys-4157/sys/class/infiniband_mad/
TP3-4-5/Outils/.idea
TP3-4-5/Outils/cmake-build-debug
